# Banco de dados
DATABASE_URL="mysql://usuario:senha@localhost:3306/grafica_manager"

# Servidor
PORT=3333
NODE_ENV=development

# Shopee
SHOPEE_PARTNER_ID=
SHOPEE_PARTNER_KEY=
SHOPEE_SHOP_ID=
SHOPEE_ACCESS_TOKEN=

# Mercado Livre
ML_APP_ID=
ML_CLIENT_SECRET=
ML_ACCESS_TOKEN=
ML_REFRESH_TOKEN=

# Segurança
WEBHOOK_SECRET=
JWT_SECRET=
